@using Cars411.Models;
@model Cars411.Models.tblUser
@{
    ViewBag.Title = "ProfileSetting";
    Layout = "~/Views/Shared/_CLayout.cshtml";
}

<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Profile Setting</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">

            @using (Html.BeginForm("ProfileSetting", "User", FormMethod.Post, new
            {
                enctype = "multipart/form-data"
            }))
            {
                @Html.AntiForgeryToken()
            <form>
                <input type="text" name="User_ID" hidden value="@Model.User_ID">
                <input type="text" name="Access_Level_ID" hidden value="@Model.Access_Level_ID">
                <input type="text" name="UserType" hidden value="@Model.UserType">
                @if (ViewBag.message != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @ViewBag.message
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
                <div class="row form-row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <div class="change-avatar">
                                <div class="profile-img">
                                    <img src=@Model.ImagePath alt="User Image" id="user_img">
                                    <input type="text" name="ImagePath" value="@Model.ImagePath" hidden>
                                </div>
                                <div class="upload-img">
                                    <div class="change-photo-btn">
                                        <span><i class="fa fa-upload"></i> Upload Photo</span>
                                        <input type="file" class="upload" id="Image" name="Image" onchange="show(this)">
                                    </div>
                                    <small class="form-text text-muted">Allowed JPG or PNG.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" value=@Model.UserName name="UserName" required>
                        </div>
                    </div>


                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Email ID</label>
                            <input type="email" class="form-control" value=@Model.Email_Adress name="Email_Adress" readonly>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" value=@Model.Password name="Password" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="text" class="form-control" name="MobileNo" value=@Model.MobileNo>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Licence Expiry Date</label>
                            <input type="date" class="form-control datetimepicker" value=@ViewBag.LicenseExpiry name="LicenseExpiry">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Service Expiry Date</label>
                            <input type="date" class="form-control datetimepicker" value=@ViewBag.ServiceExpiry name="ServiceExpiry">
                        </div>
                    </div>

                </div>
                <div class="submit-section">
                    <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                </div>
            </form>
            }
        </div>
    </div>
</div>

<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);

            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>